*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(44 62 80) ;
}
#full{
    width: 100%;
    height: 100%
}
.head{     
    height: 5.5% ; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(40 169 95);
}
.head h1{
    text-align: center;
    margin-top: 1% ;
    color: rgb(40 169 95);
}
#containor{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#details{
    margin-top: 2%;
    padding: 3% 4%;
    width: 60%;
    background-color:rgb(52 73 94);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px;
}
#details input{
    width: 90%;
    background-color: rgb(34 49 63);
    border:none;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;   
    color: white;

}
select{
    width: 90%;
    background-color: rgb(34 49 63);
    border:none;
    padding: 11px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;   
    color: white;
    box-shadow: 0px 0px 2px;   
}
#details button{
    background-color: #27ae60;
    border: none;
    width: 93%;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
#tableDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
} 
table {

    margin: 0% 1%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) th{
  background-color: rgb(244 244 244);
  color: rgb(40 169 95) ;
  text-align: center;
}
tr button{
    background-color: rgb(40 169 95) ;
    border: none;
    padding: 1.5%;
    width: 95%;
    margin: 2%;
    color: white;
    border-radius: 5px;   
}
td:nth-child(1), th:nth-child(1){
    width: 13%;
} 
td:nth-child(2), th:nth-child(2){
    width: 20%;
} 
td:nth-child(3), th:nth-child(3){
    width: 13%;
} 
td:nth-child(4), th:nth-child(4){
    width: 20%;
} 
td:nth-child(5), th:nth-child(5){
    width: 10%;
} 
td:nth-child(6), th:nth-child(6){
    width: 25%;
} 
td{
    color:rgba(255, 255, 255, 0.651);
    font-size: small;
    border: 1px solid rgba(255, 255, 255, 0.644);
}

#red{
    background-color: rgb(231 76 60);
}